<div class="content">
    <div class="page-wrapper">
        <h2>Sign in to your account</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="page-content ">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <hr />
                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="fa fa-user "></i></span>
                                <input [type]="'email'" autocomplete="username" placeholder="Email " class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            </div>
                            <div class="input-group " style="height:20px; ">
                                <span *ngIf="submitted && f.username.errors" class="error ">Email is required.</span>
                                <!--<span *ngIf="f.username.errors.email" class="error ">Invalid email address.</span>-->
                            </div>
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="fa fa-lock "></i></span>
                                <input [type]="'password'" autocomplete="current-password" placeholder="Password " class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            </div>
                            <div class="input-group " style="height:20px; ">
                                <span *ngIf="submitted && f.password.errors" class="error ">Password is required.</span>
                            </div>
                            <div class="input-group ">
                                <button class="btn btn-primary ">Sign in</button>
                            </div>
                            <hr />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>